.contenedor {
    color: blueviolet;
    width: 155px;
    height: 50px;
    background-color: rgb(236, 154, 225);
}

.contenedor:hover {
    width: 200px;
    height: 60px;
}

.bordesimple{
    width: 78px;
    height: px;
    background-color: beige;
    border:3px solid black;
}

.texto{
    text-transform: uppercase;
}
.color{
    color:brown;
}

